{% extends 'ParteDiarioBundle:Default:partediario_base.html.twig' %}
{% block titulo_cont %}
    <li><a href="{{ path('portada') }}">Inicio</a></li>
    <li><a href="{{ path('parteeconomia_index',{'fecha':fecha, 'ueb':ueb}) }}">Parte diario de economía</a></li>
    <li><a href="#">Detalle</a></li>
{% endblock %}
{% block listtitle %}
    Detalle
{% endblock %}
{% block menu_bot %}
{% endblock %}
 {% block tabletab %}
     <div class="row">
         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4">Fecha: </label>
             <div class="col-sm-8">
                 {{ parte.fecha | date('d/m/Y') }}
             </div>
         </div>

         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4"> UEB:</label>
             <div class="col-sm-8">
                 {{ parte.ueb }}
             </div>
         </div>

         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4"> Nro Cuenta Contable:</label>
             <div class="col-sm-8">
                 {{ parte.idcuentacontable.numero }}
             </div>
         </div>

         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4"> Cuenta Contable:</label>
             <div class="col-sm-8">
                 {{ parte.idcuentacontable }}
             </div>
         </div>

         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4"> Saldo:</label>
             <div class="col-sm-8">
                 {{ parte.saldo }}
             </div>
         </div>


     </div>

     <button title="Regresar" id="regresar_detalle" data-url="{{ path('parteeconomia_index',{'fecha':fecha, 'ueb':ueb}) }}" class="btn btn-primary col-xs-offset-10"><i
                 class="glyphicon glyphicon-arrow-left icon-white"></i> Regresar
     </button>
 {% endblock %}


