{% extends 'base.html.twig' %}

{% block body %}
    <h1>NomEjercicio</h1>

    <table>
        <tbody>

            <tr>
                <th>Nombre</th>
                <td>{{ nomEjercicio.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a title="Back to the list" href="{{ path('ejercicio_index') }}">Back to the list</a>
        </li>
        <li>
            <a title="Edit" href="{{ path('ejercicio_edit', { 'id': nomEjercicio.idejercicio }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
