{% extends 'base.html.twig' %}

{% block body %}
    <h1>DatParteVenta</h1>

    <table>
        <tbody>
            <tr>
                <th>Idparte</th>
                <td>{{ datParteVentum.idparte }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if datParteVentum.fecha %}{{ datParteVentum.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Vendido</th>
                <td>{{ datParteVentum.vendido }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ datParteVentum.precio }}</td>
            </tr>
            <tr>
                <th>Inicial</th>
                <td>{{ datParteVentum.inicial }}</td>
            </tr>
            <tr>
                <th>Actual</th>
                <td>{{ datParteVentum.actual }}</td>
            </tr>
            <tr>
                <th>Perdida</th>
                <td>{{ datParteVentum.perdida }}</td>
            </tr>
            <tr>
                <th>Laboratorio</th>
                <td>{{ datParteVentum.laboratorio }}</td>
            </tr>
            <tr>
                <th>Otros</th>
                <td>{{ datParteVentum.otros }}</td>
            </tr>
            <tr>
                <th>Devueltos</th>
                <td>{{ datParteVentum.devueltos }}</td>
            </tr>
            <tr>
                <th>Vinculo</th>
                <td>{% if datParteVentum.vinculo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parteventa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('parteventa_edit', { 'id': datParteVentum.idparte }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
