{% extends 'ParteDiarioBundle:Default:partediario_base.html.twig' %}
{% block titulo_cont %}
    <li><a href="{{ path('portada') }}">Inicio</a></li>
    <li><a href="{{ path('parte_consaseg_index',{'fecha':fecha, 'ueb':ueb}) }}">Parte diario de consumos de materia
            prima</a></li>
    <li><a href="#">Detalle</a></li>
{% endblock %}
{% block listtitle %}
    Detalle
{% endblock %}
{% block menu_bot %}
{% endblock %}
 {% block tabletab %}
     <div class="row">
         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4">Fecha: </label>
             <div class="col-sm-8">
                 {{ parte.fecha | date('d/m/Y') }}
             </div>
         </div>

         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4">Tipo NC: </label>
             <div class="col-sm-8">
                 {{ parte.tiponorma }}
             </div>
         </div>

         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4"> UEB:</label>
             <div class="col-sm-8">
                 {{ parte.ueb }}
             </div>
         </div>

         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4">Cantidad x NC: </label>
             <div class="col-sm-8">
                 {{ parte.cantidadxnc }}
             </div>
         </div>

         <div class="form-group col-sm-6">
             <label for="codigo" class="control-label col-sm-4"> Producto:</label>
             <div class="col-sm-8">
                 {{ parte.producto }}
             </div>
         </div>

         <div class="form-group col-sm-6">
             <label for="codigo" class="control-label col-sm-4"> Grasa:</label>
             <div class="col-sm-8">
                 {{ parte.grasa }}
             </div>
         </div>

         <div class="form-group col-sm-6 ">
             <label for="codigo" class="control-label col-sm-4">Nivel Actividad: </label>
             <div class="col-sm-8">
                 {{ parte.nivelact }}
             </div>
         </div>

         <div class="form-group col-sm-6">
             <label for="codigo" class="control-label col-sm-4"> SNG:</label>
             <div class="col-sm-8">
                 {{ parte.sng }}
             </div>
         </div>


     </div>
     <div class="box-header">
         <h3 class="box-title">
             Consumos
         </h3>
     </div>
     <table aria-describedby="detalle_parte" id="detallepartecons-table"
            class="table table-bordered table-condensed table-striped dataTable">
         <thead>
         <tr>
             <th>Aseguramiento</th>
             <th>UM</th>
             <th>Norma</th>
             <th>Moneda</th>
             <th>Real Bruto</th>
             <th>Grasa</th>
             <th>SNG</th>
         </tr>
         </thead>
         <tbody aria-relevant="all" aria-live="polite" role="alert">
         {% for cons in parte.consumos %}
             <tr>
                 <td>{{ cons.aseguramiento.aseguramiento }}</td>
                 <td>{{ cons.aseguramiento.aseguramiento.idunidadmedida.abreviatura }}</td>
                 <td>{{ cons.aseguramiento.cantaseg }}</td>
                 <td>{{ cons.aseguramiento.moneda }}</td>
                 <td>{{ cons.realbruto }}</td>
                 <td>{{ cons.grasa }}</td>
                 <td>{{ cons.sng }}</td>
             </tr>
         {% endfor %}
         </tbody>
     </table>

     <button title="Regresar" id="regresar_detalle"
             data-url="{{ path('parte_consaseg_index',{'fecha':fecha, 'ueb':ueb}) }}"
             class="btn btn-primary   col-xs-offset-10"><i
                 class="glyphicon glyphicon-arrow-left icon-white"></i> Regresar
     </button>
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% block otherscript %}
        <script type="text/javascript">

            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                var nCloneTh = document.createElement('th');
                var nCloneTd = document.createElement('td');
                nCloneTd.innerHTML = '<img src="{{ asset("bundles/tercero/datables/details_open.png") }}">';
                nCloneTd.className = "left";

                $('#detallepartecons-table thead tr').each(function () {
                    this.insertBefore(nCloneTh, this.childNodes[0]);
                });
                $('#detallepartecons-table tbody tr').each(function () {
                    this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
                });

                function fnFormatDetails(oTable, nTr) {
                    var aData = oTable.fnGetData(nTr);
                    var sOut = '<tr>' +
                        '<td colspan="3">' +
                        '<span class="detalle-parte">Grasa:</span> ' + aData[6] +
                        '<span class="detalle-parte">SNG:</span> ' + aData[7] +
                        '</td></tr>';
                    return sOut;
                }

                var oTable = $('#detallepartecons-table').dataTable({
                    "aoColumnDefs": [
                        {"bSortable": false, "aTargets": [0]},
                        {"bVisible": false, "aTargets": [6, 7]}
                    ],
                    "aaSorting": [[1, 'asc']],
                    "bLengthChange": false

                });
                $('#detallepartecons-table td img').on('click', function () {
                    var nTr = $(this).parents('tr')[0];
                    if (oTable.fnIsOpen(nTr)) {
                        this.src = "{{ asset("bundles/tercero/datables/details_open.png") }}";
                        oTable.fnClose(nTr);
                    } else {
                        this.src = "{{ asset("bundles/tercero/datables/details_close.png") }}";
                        oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
                    }
                });
            });

        </script>
    {% endblock %}
{% endblock %}

