{% extends 'NomencladorBundle:Nom_crud:nom_jquery.html.twig' %}

{% block bread %}
{% endblock %}
{% block titulo_cont %}
    {{ parent() }}
    <li><a href="{{ path('portada') }}">Inidio</a></li>
    <li><a >Nomencladores</a></li>
    <li><a href="{{ path('detalle_index') }}">Tipos de aseguramiento</a></li>
{% endblock %}
{% block listtitle %}
    Listado de tipos aseguramiento
{% endblock %}

    {% block table_id %}  id="det_table"  {% endblock %}
   {% block btn_estado %}
        <a href="{{ path('detalle_new') }}" id="btn_adicionar" class="btn btn-xs m-r-5 m-b-10 btn-default text-green" title="Adicionar">
            <span class="glyphicon glyphicon-plus "></span> Adicionar</a>

        <a data-ajax-url="{{ path('detalle_eliminar') }}" id="eliminar" title="Eliminar"
           class="btn btn-xs m-r-5 m-b-10 btn-default text-red disabled"
           href="#modal_eliminar" data-toggle="modal">
            <span class="glyphicon glyphicon-trash "></span> Eliminar</a>
        <a data-ajax-url="{{ path('detalle_activar') }}" id="btn_activar"
           class="text-yellow btn btn-xs m-r-5 m-b-10 btn-default disabled"  title="Activar">
            <span class="fa fa-lightbulb-o "></span> Activar</a>
        <a data-ajax-url="{{ path('detalle_activar') }}" id="btn_desactivar"
           class="btn btn-xs m-r-5 m-b-10 btn-default disabled"
        {#data-toggle="tooltip"#} title="Desactivar">
            <span class="fa fa-lightbulb-o "></span> Desactivar</a>

    <a data-url="{{ path('detalle_exportar') }}" id="btn_export_tipoaseg"
       class="btn btn-xs m-r-5 m-b-10 btn-default btn_exportar" {#data-toggle="tooltip"#} title="Exportar">
        <span class="glyphicon glyphicon-print "></span> Exportar</a>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% block otherscript %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    window.cargardatos = function () {
                        var ajaxurldel = '{{ path('detalle_deleteAll') }}';
                        var ajaxurlmod = '{{ path('detalle_edit', { 'id': 0 }) }}';
                        $('#det_table').ajaxTable({
                            ajaxurl: "{{ path('detalle_listar') }}",
                            start: 0,
                            {% if remember == "1" %}
                            rememberStatus: true,
                            {% endif %}
                            onComplete: function () {
                                function checkEv() {
                                    var el = $('.check_nom:checked');
                                    var check = $('.check-all-rows:checked');
                                    if (el.length == 0) {
                                        $('#eliminar').removeClass('disabled');
                                        $('#modif').removeClass('disabled');

                                        $('#eliminar').addClass('disabled');
                                        $('#modif').addClass('disabled');
                                    } else {
                                        if (el.length != 1) {
                                            $('#modif').removeClass('disabled');
                                            $('#modif').addClass('disabled');
                                        } else if (el.length == 1) {
                                            $('#modif').removeClass('disabled');
                                        }
                                        $('#eliminar').removeClass('disabled');
                                    }
                                }

                                $('.check_nom').change(checkEv);
                                $('tr').click(checkEv);

                                setTimeout(function () {
                                    $('.check-all-rows').find('input').change(checkEv);
                                }, 3000);


                                window.setCheckEvents();
                            },
                            limit: 10,
                            columns: [0, 1, 2, 3, 4,5],
                            columnsDef: [
                                {
                                    noFilter: true,
                                    style: 'width: 30px',
                                    field: 'iddetalle',
                                    header: '<span class="check-all-rows name"></span>',
                                    type: '',
                                    callback: function () {
                                    },
                                    render: function (value) {
                                        return '<input type="checkbox" id="' + value + '" class="check_nom"/>';
                                    }
                                },
                                {
                                    style: 'width: 80px',
                                    field: 'codigo',
                                    header: 'Código',
                                    class: '',
                                    type: '',
                                    callback: function () {
                                    }
                                },
                                {
                                    field: 'nombre', header: 'Nombre', type: '', callback: function () {
                                }
                                },{
                                    style: 'width: 80px; text-align: center',
                                    field: 'activo',
                                    noFilter: true,
                                    header: 'Activo',
                                    type: '',
                                    callback: function () {
                                    },
                                    render: function (value) {
                                        if (value) {
                                            return '<span class="fa fa-check text-green"></span>';
                                        } else {
                                            return '<span class="glyphicon glyphicon-remove text-red"></span>';
                                        }
                                    }
                                },
                                {
                                    noFilter: true,
                                    style: 'text-align: center; width: 100px',
                                    header: 'Acciones',
                                    type: '',
                                    callback: function () {
                                    },
                                    render: function (row) {
                                        return ' <a title="Editar" href="' + ajaxurlmod.replace('/0/edit', '/' + row[0] + '/edit') + '" class="btn_edit"  data-ajax-url="' + ajaxurlmod + '"' +
                                                'data-id="' + row[0] + '">' +
                                                '<span class="glyphicon glyphicon-pencil text-blue"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                                                '<a title="Eliminar" id="del-item-' + row[0] + '" class="link_del" href="#modal_eliminar" onclick="window.cp_temp_stored_id=' + row[0] + ';" data-toggle="modal" data-ajax-url="' + ajaxurldel + '"' +
                                                'data-id="' + row[0] + '">' +
                                                '<span class="glyphicon glyphicon-trash text-red"></span></a>';
                                    }
                                }
                            ]
                        });
                    }
                    cargardatos();
                });
            })(jQuery);
        </script>
    {% endblock %}
{% endblock %}