{% extends 'ParteDiarioBundle:Default:partediario_base.html.twig' %}
{% block asiderigth %}"right-side strech"{% endblock %}
 {% block menu_lateral %}{% endblock %}
{% block hide_menu %}
{% endblock %}
 {% block titulo_cont %}
     <li><a href="{{ path('portada') }}">Inicio</a></li>
     <li><a href="{{ path('partemercanciavinculo_index',{'fecha':fecha, 'ueb':ueb}) }}">Parte diario de mercancía por vínculo</a></li>
     <li><a class="active">{{ action }}</a></li>
 {% endblock %}
{% block menu_bot %}
{% endblock %}
{% block contenido %}
    <section class="content" id="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header">
                        <h3 class="box-title">{{ action }}</h3>
                    </div>
                    <div class="box-body">
                        {{ form_start(form,{'attr':{ 'id':'form-pmerc', 'novalidate':'novalidate' } }) }}
                        <div class="form-horizontal bootstrap-validator-form ">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Datos generales</a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Incidencias</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <fieldset>
                                            <div class="form-group col-xs-6">
                                                <label for="codigo"
                                                       class="col-xs-4 control-label"> {{ form_label(form.fecha) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.fecha) }}
                                                    {{ form_errors(form.fecha) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="entidad"
                                                       class="col-xs-4 control-label"> {{ form_label(form.entidad) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.entidad) }}
                                                    {{ form_errors(form.entidad) }}
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group col-xs-6">
                                                <label for="codigo"
                                                       class="col-xs-4 control-label"> {{ form_label(form.ueb) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.ueb) }}
                                                    {{ form_errors(form.ueb) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="codigo"
                                                       class="col-xs-4 control-label"> {{ form_label(form.factura) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.factura) }}
                                                    {{ form_errors(form.factura) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="codigo"
                                                       class="col-xs-4 control-label"> {{ form_label(form.producto) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.producto) }}
                                                    {{ form_errors(form.producto) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <label for="cantidad"
                                                       class="col-xs-4 control-label"> {{ form_label(form.preciomn) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.preciomn) }}
                                                    {{ form_errors(form.preciomn) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="codigo"
                                                       class="col-xs-4 control-label"> {{ form_label(form.um) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.um) }}
                                                    {{ form_errors(form.um) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="cantidad"
                                                       class="col-xs-4 control-label"> {{ form_label(form.preciocuc) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.preciocuc) }}
                                                    {{ form_errors(form.preciocuc) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="cantidad"
                                                       class="col-xs-4 control-label"> {{ form_label(form.cantidad) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.cantidad) }}
                                                    {{ form_errors(form.cantidad) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="cantidad"
                                                       class="col-xs-4 control-label"> {{ form_label(form.importemn) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.importemn) }}
                                                    {{ form_errors(form.importemn) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="entidad"
                                                       class="col-xs-4 control-label"> {{ form_label(form.almacen) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.almacen) }}
                                                    {{ form_errors(form.almacen) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-6">
                                                <label for="cantidad"
                                                       class="col-xs-4 control-label"> {{ form_label(form.importecuc) }}</label>
                                                <div class="col-xs-8">
                                                    {{ form_widget(form.importecuc) }}
                                                    {{ form_errors(form.importecuc) }}
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="tab-pane" id="tab_3">
                                        {% include 'ParteDiarioBundle:Default:add_incidencias.html.twig' %}
                                    </div><!-- /.tab-pane -->
                                </div><!-- /.tab-content -->
                            </div>
                            <fieldset>
                                <div class="col-xs-12 "><p class="mensaje-info"><span
                                                class="glyphicon glyphicon-info-sign"></span> Debe llenar al menos uno
                                        de los campos: Precio CUC o Precio CUP.</p></div>

                                <div class="form-group">
                                    <div class="col-sm-4 col-xs-12  col-sm-offset-8">
                                        {% if action == 'Adicionar' %}
                                            {{ form_widget(form.guardar) }}
                                        {% endif %}
                                        {{ form_widget(form.aceptar) }}
                                        <a href="{{ path('partemercanciavinculo_index',{'fecha':fecha, 'ueb':ueb}) }}"
                                           title="Cancelar" id="btn-cancel"
                                           class="btn btn-default  btn-cancel   ">
                                            <i class="glyphicon glyphicon-remove icon-white"></i>
                                            Cancelar
                                        </a>

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/tercero/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tercero/js/js_plan/fn_partemercancia.js') }}"></script>
    <script type="text/javascript">
        var $fecha = $('#dat_parte_mercancia_vinculo_fecha');
        $fecha.change(function () {
            var fecha = $(this).val().split('/');
            $('#dat_parte_mercancia_vinculo_anno').val(fecha[2])
        });
    </script>

{% endblock %}