{% extends 'ParteDiarioBundle:Default:partediario_base.html.twig' %}
{% block asiderigth %}"right-side strech"{% endblock %}
{% block bread %}
{% endblock %}
{% block hide_menu %}
{% endblock %}
{% block titulo_cont %}
    <li><a href="{{ path('portada') }}">Inicio</a></li>
    <li><a href="{{ path('parte_alerta_index') }}">Alertas</a></li>
    {% if suprimida==1 %}
        <li><a href="#">Suprimidas</a></li>
    {% elseif suprimida==2 %}
        <li><a href="#">Revisadas</a></li>
    {% endif %}
{% endblock %}
 {% block titleboxe %}
 {% endblock %}
{% block menu_lateral %}
{% endblock %}
{% block tabletab %}
    <table aria-describedby="example1_info" id="alerta-table"
           class="table table-bordered table-striped table-condensed dataTable ">
        <thead>
        </thead>
        <tbody aria-relevant="all" aria-live="polite" role="alert">
        </tbody>
    </table>
{% endblock %}
{% block menu_bot %}
{% endblock %}

{% block btn_estado %}
    {% if suprimida==0 %}
        {% if is_granted('ROLE_ADICIONAR_ALERTA') %}
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default text-green">
                    <span class="glyphicon glyphicon-plus "></span> Adicionar
                </button>
                <button type="button" class="btn btn-xs btn-default dropdown-toggle text-green" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url('parte_alerta_new',{'tipo' : 'Aseguramiento'}) }}">Aseguramiento</a></li>
                    <li><a href="{{ url('parte_alerta_new',{'tipo' : 'Economia'}) }}">Economía</a></li>
                    <li><a href="{{ url('parte_alerta_new',{'tipo' : 'Produccion'}) }}">Nivel de actividad</a></li>
                    <li><a href="{{ url('parte_alerta_new',{'tipo' : 'Portadores'}) }}">Portador energético</a></li>
                    <li><a href="{{ url('parte_alerta_new',{'tipo' : 'Transporte'}) }}">Transporte</a></li>
                    <li><a href="{{ url('parte_alerta_new',{'tipo' : 'Venta'}) }}">Venta</a></li>
                </ul>
            </div>
            <a href="{{ url('datalertaaccion_index',{'accion' : 1}) }}" id="suprimir" title="Alertas suprimidas"
               class=" btn btn-xs m-r-5 m-b-10 btn-default   ">
                <span class="glyphicon glyphicon-remove-circle "></span> Suprimidas</a>
            <a href="{{ url('datalertaaccion_index',{'accion' : 2}) }}" id="revisar" title="Alertas revisadas"
               class=" btn btn-xs m-r-5 m-b-10 btn-default   ">
                <span class="glyphicon glyphicon-search "></span> Revisadas</a>
        {% endif %}
    {% endif %}
    {% if datAlertas is not empty %}

        {% if is_granted('ROLE_MODIFICAR_ALERTA') %}
            <a href="#modal_eliminar" data-toggle="modal" id="eliminar" title="Eliminar"
               class=" btn btn-xs m-r-5 m-b-10 btn-default text-red disabled "
               data-ajax-url="{{ path('alerta_eliminar') }}">
                <span class="glyphicon glyphicon-trash "></span> Eliminar</a>
        {% endif %}
    {% endif %}
{% endblock %}

             {% block javascripts %}
                 {{ parent() }}
                 {% block otherscript %}
                     <script type="text/javascript">
                         (function ($) {
                             $(document).ready(function () {
                                 var dat = {{ suprimida }};
                                 window.cargardatos = function (start, limit) {

                                     window.plugin = $('#alerta-table').ajaxTable({
                                         ajaxurl: "{{ path('parte_alerta_listar') }}",
                                         start: 0,

                                         dat: dat,
                                         onComplete: function () {
                                             function checkEv() {
                                                 var el = $('.check_nom:checked');
                                                 var check = $('.check-all-rows:checked');
                                                 if (el.length == 0) {
                                                     $('#eliminar').removeClass('disabled');
                                                     $('#modif').removeClass('disabled');

                                                 } else {
                                                     if (el.length != 1) {
                                                         $('#modif').removeClass('disabled');
                                                         $('#modif').addClass('disabled');
                                                     } else if (el.length == 1) {
                                                         $('#modif').removeClass('disabled');
                                                     }
                                                     $('#eliminar').removeClass('disabled');
                                                 }
                                             }

                                             $('.check_nom').change(checkEv);
                                             $('tr').click(checkEv);
                                             setTimeout(function () {
                                                 $('.check-all-rows').find('input').change(checkEv);
                                             }, 3000);
                                             window.setCheckEvents();
                                         },
                                         limit: 10,
                                         columns: [0, 1, 2, 3, 4, 5, 6],
                                         columnsDef: [
                                             {
                                                 noFilter: true,
                                                 style: 'width: 30px',
                                                 field: 'idalerta',
                                                 header: '<span class="check-all-rows name"></span>',
                                                 type: '',
                                                 callback: function () {
                                                 },
                                                 render: function (value) {
                                                     return '<input type="checkbox" id="' + value + '" class="check_nom"/>';
                                                 }
                                             },
                                             {
                                                 noFilter: true,
                                                 field: 'fecha',
                                                 header: 'Fecha',
                                                 type: '',
                                                 callback: function () {
                                                 }
                                             },

                                             {
                                                 field: 'entidad',
                                                 header: 'UEB',
                                                 type: '',
                                                 callback: function () {
                                                 }
                                             },

                                             {
                                                 field: 'actividad',
                                                 header: 'Actividad',
                                                 type: '',
                                                 callback: function () {
                                                 }
                                             },

                                             {
                                                 style: 'width: 80px',
                                                 field: 'operador',
                                                 header: 'Condición',
                                                 class: 'text',
                                                 type: '',
                                                 callback: function () {
                                                 }
                                             },

                                             {
                                                 field: 'cant',
                                                 header: 'Cantidad',
                                                 type: '',
                                                 callback: function () {
                                                 }
                                             },

                                             {
                                                 field: 'descripcion',
                                                 header: 'Descripción',
                                                 type: '',
                                                 callback: function () {
                                                 }
                                             }
                                             {% if suprimida ==0 %}
                                             {% if is_granted('ROLE_MODIFICAR_ALERTA') or is_granted('ROLE_ELIMINAR_ALERTA') %}
                                             , {
                                                 noFilter: true,
                                                 style: 'text-align: center; width:60px',
                                                 header: 'Acciones',
                                                 type: '',
                                                 callback: function () {
                                                 },
                                                 render: function (row) {
                                                     var accionModif = "", accionElimi = "";
                                                     {% if is_granted('ROLE_MODIFICAR_ALERTA') %}
                                                     var ajaxurlmod = '{{ path('parte_alerta_edit', { 'id': 0 }) }}';
                                                     accionModif = '<a title="Editar"  href="' + ajaxurlmod.replace('/0/edit', '/' + row[0] + '/edit') + '" class="btn_edit"  data-ajax-url="' + ajaxurlmod + '"' +
                                                         'data-id="' + row[0] + '"><span class="glyphicon glyphicon-pencil text-blue"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                                                     {% endif %}

                                                     {% if is_granted('ROLE_ELIMINAR_ALERTA') %}
                                                     var ajaxuredel = '{{ path('alerta_eliminar') }}';
                                                     accionElimi = '<a title="Eliminar" id="del-item-' + row[0] + '" class="link_del" href="#modal_eliminar" onclick="window.cp_temp_stored_id=' + row[0] + ';" data-toggle="modal" data-ajax-url="' + ajaxuredel + '"' +
                                                         'data-id="' + row[0] + '"><span class="glyphicon glyphicon-trash text-red"></span></a>';
                                                     {% endif %}

                                                     return accionModif + accionElimi;
                                                 }
                                             }
                                             {% endif %}
                                             {% endif %}
                                         ]

                                     });
                                 }
                                 cargardatos();
                             });
                         })(jQuery);
                     </script>
                 {% endblock %}
             {% endblock %}