{% extends 'base.html.twig' %}

{% block body %}
    <h1>NomFormato</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nomFormato.id }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ nomFormato.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ nomFormato.nombre }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ nomFormato.peso }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formato_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('formato_edit', { 'id': nomFormato.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
