{% extends 'NomencladorBundle:Default:nom_base.html.twig' %}
{% block bread %}
{% endblock %}
 {% block titulo_cont %}
     <li><a href="{{ path('portada') }}">Inicio</a></li>
     <li><a >Nomencladores</a></li>
     <li><a href="{{ path('monedadestino_index') }}">Moneda/Destino</a></li>
     <li><a class="active">{{ accion }}</a></li>
 {% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header">
                        <h3 class="box-title">{{ accion }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {{ form_start(form,{'attr':{ 'id':'form-moneda','class': 'form-edit' }}) }}
                        <div class="form-horizontal bootstrap-validator-form">
                            <fieldset>
                                <div class="form-group col-xs-12">
                                    <label for="codigo"
                                           class="col-sm-3 control-label"> {{ form_label(form.codigo) }}</label>

                                    <div class="col-sm-4">
                                        {{ form_widget(form.codigo) }}
                                        {{ form_errors(form.codigo) }}
                                    </div>

                                </div>
                                <div class="form-group col-xs-12">
                                    <label for="nombre"
                                           class="col-sm-3 control-label"> {{ form_label(form.nombre) }}</label>

                                    <div class="col-sm-4">
                                        {{ form_widget(form.nombre) }}
                                        {{ form_errors(form.nombre) }}
                                    </div>

                                </div>
                                <fieldset>
                                    <div class="form-group ">
                                        <div class="col-sm-6 col-sm-offset-4">
                                            {% if accion == 'Adicionar' %}
                                            <button title="Guardar" type="submit" class="btn btn-primary  disabled"
                                                    id="btn_agregar_moneda">
                                                <i class="glyphicon glyphicon-save icon-white"></i>
                                                Guardar
                                            </button>
                                            {% endif %}
                                            {{ form_widget(form.aceptar) }}
                                            <a title="Cancelar"
                                               href="{{ path('monedadestino_index') }}"
                                               data-url="{{ path('monedadestino_index') }}"
                                               class="btn btn-default  {% if accion != 'Adicionar' %} editcerrar {% endif %}">
                                                <i class="glyphicon glyphicon-remove icon-white"></i>
                                                Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </fieldset>
                            </fieldset>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/tercero/js/js_crud/fn_moneda.js') }}"></script>

{% endblock %}