{% extends 'ParteDiarioBundle:Default:partediario_base.html.twig' %}
 {% block titulo_cont %}
    <li><a href="{{ path('portada') }}">Inicio</a></li>
    <li><a href="#">Parte Diario</a></li>
     <li><a href="{{ path('partemovimiento_index') }}">Movimiento</a></li>
    <li><a class="active">Editar</a></li>
{% endblock %}
{% block menu_bot %}
{% endblock %}
{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-body">
                        {{ form_start(edit_form,{'attr':{ 'id':'form-pmov','class':'form-edit' } }) }}
                        <div class="form-horizontal bootstrap-validator-form">
                            <fieldset>
                                <div class="form-group">
                                    <label for="codigo"
                                           class="col-sm-3 control-label"> {{ form_label(edit_form.ueb) }}</label>
                                    <div class="col-sm-5">
                                        {{ form_widget(edit_form.ueb) }}
                                        {{ form_errors(edit_form.ueb) }}
                                    </div>
                                </div><div class="form-group">
                                    <label for="codigo"
                                           class="col-sm-3 control-label"> {{ form_label(edit_form.fecha) }}</label>
                                    <div class="col-sm-5">
                                        {{ form_widget(edit_form.fecha) }}
                                        {{ form_errors(edit_form.fecha) }}
                                    </div>
                                </div><div class="form-group">
                                    <label for="codigo"
                                           class="col-sm-3 control-label"> {{ form_label(edit_form.almacen) }}</label>
                                    <div class="col-sm-5">
                                        {{ form_widget(edit_form.almacen) }}
                                        {{ form_errors(edit_form.almacen) }}
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="codigo"
                                           class="col-sm-3 control-label"> {{ form_label(edit_form.producto) }}</label>
                                    <div class="col-sm-5">
                                        {{ form_widget(edit_form.producto) }}
                                        {{ form_errors(edit_form.producto) }}
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <label for="codigo"
                                           class="col-sm-3 control-label"> {{ form_label(edit_form.um) }}</label>
                                    <div class="col-sm-5">
                                        {{ form_widget(edit_form.um) }}
                                        {{ form_errors(edit_form.um) }}
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <label for="codigo"
                                           class="col-sm-3 control-label"> {{ form_label(edit_form.concepto) }}</label>
                                    <div class="col-sm-5">
                                        {{ form_widget(edit_form.concepto) }}
                                        {{ form_errors(edit_form.concepto) }}
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="codigo"
                                           class="col-sm-3 control-label"> {{ form_label(edit_form.cantidad) }}</label>
                                    <div class="col-sm-5">
                                        {{ form_widget(edit_form.cantidad) }}
                                        {{ form_errors(edit_form.cantidad) }}
                                    </div>
                                </div>


                            </fieldset>
                            <fieldset>
                                <div class="form-group ">
                                    <div class="col-sm-4 col-xs-12  col-sm-offset-8">
                                        <button class="btn btn-primary  disabled" id="btn_add_pmov" data-accion="aceptar">
                                            <i class="glyphicon glyphicon-ok icon-white"></i>
                                            Aceptar
                                        </button>
                                        <a href="{{ path('partemovimiento_index') }}" data-url="{{ path('partemovimiento_index') }}" id="btn_cerrar"
                                           class="btn btn-default  editcerrar">
                                            <i class="glyphicon glyphicon-remove icon-white"></i>
                                            Cancelar
                                        </a>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        {{ form_end(edit_form) }}
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/tercero/js/js_plan/fn_partemov.js') }}"></script>
{% endblock %}